@reference "../../index.css";

.menu {
  @apply relative z-0 flex sm:justify-center gap-1 px-1 py-2 shadow-[inset_0_-1px] shadow-container-shadow;
  background-color: var(--primary);
}

.menu-item {
  @apply flex h-8 items-center justify-center gap-1 border-0 px-2 text-sm font-medium outline-none select-none before:inset-x-0 before:inset-y-1 before:rounded-sm before:-outline-offset-1 before:outline-blue-800 focus-visible:relative focus-visible:before:absolute focus-visible:before:outline-2;
  color: var(--menu-foreground);
  &[data-selected] {
    color: var(--menu-foreground-selected);
  }
  &:hover {
      color: var(--menu-foreground-hover);
  }
}

.menu-item-indicator {
  @apply p-4 absolute top-1/2 left-0 z-[-1] h-6 w-[var(--active-tab-width)] -translate-y-1/2 translate-x-[var(--active-tab-left)] rounded-sm transition-[translate]  duration-200 ease-in-out;
  background-color: var(--menu-indicator);
}