@import "tailwindcss";
@import "./theme.css";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: var(--background);
}

#root {
    isolation: isolate;
}

  /* [&::-webkit-scrollbar-thumb]:rounded-full
  [&::-webkit-scrollbar-thumb]:bg-gray-300
  dark:[&::-webkit-scrollbar-track]:bg-neutral-700
  dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500 */

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply w-2;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply rounded-full bg-primary;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-md bg-gray-300;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
  }

  .dark .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-neutral-500;
  }

  .dark .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-400;
  }

  .dark .scrollbar::-webkit-scrollbar-track {
    @apply bg-neutral-700;
  }
}