:root {
  --background: #EDF2F6;

  --primary: #FFFFFF;
  --primary-foreground: var(--color-gray-800);
  --primary-hover: var(--color-gray-200);
  
  --container-shadow: var(--color-gray-200);
  --container-content-bg: var(--color-gray-50);
  --primary-border: var(--color-gray-200);

  --menu: #FFFFFF;
  --menu-foreground: var(--color-gray-600);
  --menu-foreground-hover: var(--color-gray-800);
  --menu-foreground-selected: var(--color-gray-800);
  --menu-indicator: var(--color-gray-200);
}

.dark {
  --background: #191919;

  --primary: #202020;
  --primary-foreground: #FFFFFFCF;

  --container-shadow: var(--color-zinc-800);
  --primary-border: var(--color-neutral-700);
  --container-content-bg: #252525;
  --primary-hover: #373737;

  --menu: #202020;
  --menu-foreground: #A6AFBF;
  --menu-foreground-hover: #FFFFFFCF;
  --menu-foreground-selected: #FFFFFFCF;
  --menu-indicator: #373737;
}

@theme inline {
  --color-background: var(--background);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-container-content-bg: var(--container-content-bg);
  --color-primary-hover: var(--primary-hover);

  --color-container-shadow: var(--container-shadow);
  --color-primary-border: var(--primary-border);

  --color-menu: var(--menu);
  --color-menu-foreground: var(--menu-foreground);
  --color-menu-foreground-hover: var(--menu-foreground-hover);
  --color-menu-foreground-selected: var(--menu-foreground-selected);
  --color-menu-indicator: var(--menu-indicator);
}