:root {
  --primary: #EDF2F6;
  --primary-foreground: var(--color-zinc-900);

  --menu: #FFFFFF;
  --menu-foreground: var(--color-gray-600);
  --menu-foreground-hover: var(--color-gray-800);
  --menu-foreground-selected: var(--color-gray-800);
  --menu-indicator: var(--color-gray-200);
}

.dark {
  --primary: #191919;
  --primary-foreground: #FFFFFF;

  --menu: #202020;
  --menu-foreground: var(--color-gray-400);
  --menu-foreground-hover: #FFFFFFCF;
  --menu-foreground-selected: #FFFFFFCF;
  --menu-indicator: #373737;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-menu: var(--menu);
  --color-menu-foreground: var(--menu-foreground);
  --color-menu-foreground-hover: var(--menu-foreground-hover);
  --color-menu-foreground-selected: var(--menu-foreground-selected);
  --color-menu-indicator: var(--menu-indicator);
}